# Default to ignore everything!
*

# Settings for .dotfiles repo.
!.gitignore
!CHANGELOG.md
!Config.xml
!README.md
!Setup.ps1

# Components
!Components
Components/*
!Components.xml

# AutoHotKey
!Components/AutoHotKey
!Components/AutoHotKey/*

# Nvim
!Components/Nvim
!Components/Nvim/*
!Components/Nvim/lua
!Components/Nvim/lua/*
!Components/Nvim/lua/user
!Components/Nvim/lua/user/*

# OhMyPosh
!Components/OhMyPosh
!Components/OhMyPosh/*

# PowerShell
!Components/PowerShell
!Components/PowerShell/*

# Terminal
!Components/Terminal
!Components/Terminal/*
!Components/Terminal/TerminalIcons
!Components/Terminal/TerminalIcons/*

# VSCode
!Components/VSCode
!Components/VSCode/*